<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Welcome to the Labs for Capella</h2>
                <hr class="light">
                <p class="text-faded">It is the place where Capella users, as well as tool providers, can collaborate and create synergies to develop Capella add-ons, from the incubation state, with the option to reach an industrial level. Today Labs for Capella allows you to share your Capella add-ons, and to use those shared by others.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
