<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Labs for Capella</h1>
            <hr>
            <p style="color: white">Labs for Capella aims at providing the Eclipse Capella ecosystem with a creativity and innovation space.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            <a href="https://github.com/labs4capella" class="btn btn-primary btn-xl">Contribute</a>
            <a href="https://forum.mbse-capella.org" class="btn btn-primary btn-xl">Discuss</a>
        </div>
    </div>
</header>
