<section class="no-padding" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Hosted Projects</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/labs4capella/mms-capella" class="projects-box">
                    <img src="img/projects/mms-capella.png" class="img-responsive" alt="">
                    <div class="projects-box-caption">
                        <div class="projects-box-caption-content">
                            <div class="project-category text-faded">
                                Connector
                            </div>
                            <div class="project-name">
                                OpenMBEE MMS
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
