<section class="no-padding" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Projects</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/labs4capella/mms-capella" class="projects-box">
                    <img src="img/projects/mms-capella.png" class="img-responsive" alt="">
                    <div class="projects-box-caption">
                        <div class="projects-box-caption-content">
                            <div class="project-category">
                                Connector
                            </div>
                            <div class="project-name">
                                OpenMBEE MMS
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/labs4capella/advanced-class-diagram" class="projects-box">
                    <img src="img/projects/advanced-class-diagram.png" class="img-responsive" alt="">
                    <div class="projects-box-caption">
                        <div class="projects-box-caption-content">
                            <div class="project-category">
                                Utility
                            </div>
                            <div class="project-name">
                                Advanced Class Diagram
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/eclipse/capella-deferred-merge" class="projects-box">
                    <img src="img/projects/deferred-merge.png" class="img-responsive" alt="">
                    <div class="projects-box-caption">
                        <div class="projects-box-caption-content">
                            <div class="project-category">
                                Utility
                            </div>
                            <div class="project-name">
                                Deferred Merge
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/eclipse/capella-textual-editor" class="projects-box">
                    <img src="img/projects/capella-textual-editor.png" class="img-responsive" alt="">
                    <div class="projects-box-caption">
                        <div class="projects-box-caption-content">
                            <div class="project-category">
                                Utility
                            </div>
                            <div class="project-name">
                                Textual Editor
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/labs4capella/python4capella" class="projects-box">
                    <img src="img/projects/Python4Capella_Logo.png" class="img-responsive" alt="">
                    <div class="projects-box-caption">
                        <div class="projects-box-caption-content">
                            <div class="project-category">
                                Utility
                            </div>
                            <div class="project-name">
                                Python4Capella
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/eclipse/capella-vpms" class="projects-box">
                    <img src="img/projects/vpms.png" class="img-responsive" alt="">
                    <div class="projects-box-caption">
                        <div class="projects-box-caption-content">
                            <div class="project-category">
                                Utility
                            </div>
                            <div class="project-name">
                                VPMS (Modes &amp; States viewpoint)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <hr class="light">
            <a href="https://github.com/labs4capella" class="btn btn-primary btn-xl page-scroll">See more...</a>
        </div>
    </div>
</section>
